<h1><%= @house.name %></h1>
<% if @house.students.any? %>
  <ul>
  <% @house.students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>
  </ul>
<% else %>
  No students found!
<% end %>
